<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Hard/Active_User_Retention.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assume you're given a table containing information on Facebook user actions. Write a query to obtain number of monthly active users (MAUs) in July 2022, including the month in numerical format "1, 2, 3".

Hint:

- An active user is defined as a user who has performed actions such as 'sign-in', 'like', or 'comment' in both the current month and the previous month.

`user_actions` Table:

|Column Name|	Type|
|:---|:---|
|user_id	|integer|
|event_id|	integer|
|event_type|	string ("sign-in, "like", "comment")|
|event_date|	datetime|

Example Output for June 2022:

|month	|monthly_active_users|
|:---|:---|
|6|	1|

In [ ]:
query = """
select
  extract(month from event_date) as month,
  count(distinct user_id)
from user_actions
where extract(year from event_date) = 2022
and extract(month from event_date) = 7
and user_id in (
      select user_id
      from user_actions
      where extract(year from event_date) = 2022 and extract(month from event_date) = 6)
group by extract(month from event_date)
"""