<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Average_Review_Ratings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given the reviews table, write a query to retrieve the average star rating for each product, grouped by month.

The output should display the month as a numerical value, product ID, and average star rating rounded to two decimal places. Sort the output first by month and then by product ID.



`reviews` Table:

|Column Name|	Type|
|:---|:---|
|review_id|	integer|
|user_id|	integer|
|submit_date|	datetime|
|product_id|	integer|
|stars	|integer (1-5)|


Example Output:

|mth	|product	|avg_stars|
|:---|:---|:---|
|6	|50001	|3.50|
|6	|69852	|4.00|
|7	|69852|	2.50|

In [1]:
query = """
SELECT
  EXTRACT(MONTH FROM submit_date) as mth,
  product_id AS product,
  ROUND(AVG(stars), 2) AS avg_stars
FROM reviews
GROUP BY
  product_id,
  EXTRACT(MONTH FROM submit_date)
ORDER BY
  mth,
  product_id
;
"""