<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Cards_Issued_Difference.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Your team at JPMorgan Chase is preparing to launch a new credit card, and to gain some insights, you're analyzing how many credit cards were issued each month.

Write a query that outputs the name of each credit card and the difference in the number of issued cards between the month with the highest issuance cards and the lowest issuance. Arrange the results based on the largest disparity.

`monthly_cards_issued` Table:

|Column Name	|Type|
|:---|:---|
|card_name	|string|
|issued_amount	|integer|
|issue_month	|integer|
|issue_year|	integer|

Example Output:

|card_name	|difference|
|:---|:---|
|Chase Freedom Flex	|15000|
|Chase Sapphire Reserve|	10000|

In [ ]:
query = """
select
  card_name,
  max(total_amount) - min(total_amount) as difference
from
  (select
    card_name,
    issue_month,
    sum(issued_amount) as total_amount
  from monthly_cards_issued
  group by card_name, issue_month) monthly_amounts
group by card_name
order by difference desc

"""