<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Cities_With_Completed_Trades.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assume you're given the tables containing completed trade orders and user details in a Robinhood trading system.

Write a query to retrieve the top three cities that have the highest number of completed trade orders listed in descending order. Output the city name and the corresponding number of completed trade orders.

`trades` Table:

|Column Name|Type|
|:---|:---|
|order_id|	integer|
|user_id|	integer|
|quantity|	integer|
|status|	string ('Completed', 'Cancelled')|
|date|	timestamp|
|price|	decimal (5, 2)|

`users` Table:

|Column Name	|Type|
|:---|:---|
|user_id|	integer|
|city|	string|
|email|	string|
|signup_date|	datetime|


Example Output:

|city	|total_orders|
|:---|:---|
|San Francisco|	3|
|Boston	|2|
|Denver	|1|

In [1]:
query = """
WITH completed_trades AS (
SELECT trades.order_id, trades.user_id, users.city, trades.status
FROM trades
JOIN users
  ON trades.user_id = users.user_id
WHERE status = 'Completed'
)
SELECT city, COUNT(order_id) AS total_orders
FROM completed_trades
GROUP BY city
ORDER BY COUNT(order_id) DESC
LIMIT 3
;
"""