<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Duplicate_Job_Listings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assume you're given a table containing job postings from various companies on the LinkedIn platform. Write a query to retrieve the count of companies that have posted duplicate job listings.

Definition:

Duplicate job listings are defined as two job listings within the same company that share identical titles and descriptions.

`job_listings` Table:

|Column Name|	Type|
|:---|:---|
|job_id|	integer|
|company_id|	integer|
|title|	string|
|description|	string|


Example Output:

|duplicate_companies|
|:---|
|1|

In [1]:
query = """
WITH duplicate_posts AS (
SELECT
  company_id,
  title,
  description,
  count(*) AS listing_count
FROM job_listings
GROUP BY company_id, title, description
HAVING count(*) > 1
)

SELECT
  COUNT( DISTINCT company_id) as duplicate_companies
FROM duplicate_posts;
"""