<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Final_Account_Balance.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Given a table containing information about bank deposits and withdrawals made using Paypal, write a query to retrieve the final account balance for each account, taking into account all the transactions recorded in the table with the assumption that there are no missing transactions.

`transactions` Table:

|Column Name	|Type|
|:---|:---|
|transaction_id|	integer|
|account_id	|integer|
|amount	|decimal|
|transaction_type	|varchar|

Example Output:

|account_id	|final_balance|
|:---|:---|
|101	|25.00|
|201	|10.00|

In [ ]:
query = """
with summary as (
select
  account_id,
  sum(case when transaction_type='Deposit' then amount else 0 end) as deposits,
  sum(case when transaction_type='Withdrawal' then amount else 0 end) as withdrawals
from transactions
group by account_id
)
select
  account_id,
  (deposits-withdrawals) as final_balance
from summary
"""

In [ ]:
query2 = """
select
  account_id,
  sum(case
        when transaction_type = 'Deposit' then amount
        else -amount
      end) as final_balance
from transactions
group by account_id
"""