<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Highest_Number_of_Products.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assume that you are given the table below containing information on various orders made by eBay customers.

Write a query to obtain the user IDs and number of products purchased by the top 3 customers; these customers must have spent at least $1,000 in total.

Output the user id and number of products in descending order. To break ties (i.e., if 2 customers both bought 10 products), the user who spent more should take precedence.

`user_transactions` Table:

|Column Name	|Type|
|:---|:---|
|transaction_id|	integer|
|product_id	|integer|
|user_id	|integer|
|spend	|decimal|

Example Output:

|user_id	|product_num|
|:---|:---|
|133	|3|
|128	|2|
|102	|1|

In [ ]:
query = """
select
  user_id,
  count(distinct product_id) as product_num
from user_transactions
group by user_id
having sum(spend) > 1000
order by product_num desc, sum(spend) desc
limit 3
"""