<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Histograms_of_Tweets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assume you're given a table Twitter tweet data, write a query to obtain a histogram of tweets posted per user in 2022. Output the tweet count per user as the bucket and the number of Twitter users who fall into that bucket.

In other words, group the users by the number of tweets they posted in 2022 and count the number of users in each group.

`tweets` Table:

Columns:

- tweet_id : integer
- user_id : integer
- msg : string
- tweet_date : timestamp

Example Output:

| tweet_bucket | users_num |
|:---|:---|
|1 | 2 |
| 2 | 1 |

In [1]:
query = """
with user_tweet_count as (
select
  user_id,
  count(*) as tweet_count
from tweets
where EXTRACT(year from tweet_date) = '2022'
group by user_id
)

select
  tweet_count as tweet_bucket,
  count(*) as user_num
from user_tweet_count
group by tweet_count
"""