<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/IBM_db2_Product_Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IBM is analyzing how their employees are utilizing the Db2 database by tracking the SQL queries executed by their employees. The objective is to generate data to populate a histogram that shows the number of unique queries run by employees during the third quarter of 2023 (July to September). Additionally, it should count the number of employees who did not run any queries during this period.

Display the number of unique queries as histogram categories, along with the count of employees who executed that number of unique queries.

`queries` Schema:

|Column Name|	Type	|Description|
|:---|:---|:---|
|employee_id|integer|	The ID of the employee who executed the query.|
|query_id|	integer|	The unique identifier for each query (Primary Key).|
|query_starttime	|datetime|	The timestamp when the query started.|
|execution_time|	integer|The duration of the query execution in seconds.|

`employees` Schema:

Assume that the table below displays all employees in the table:

|Column Name|	Type	|Description|
|:---|:---|:---|
|employee_id|	integer	|The ID of the employee who executed the query.|
|full_name	|string	|The full name of the employee.|
|gender	|string	|The gender of the employee.|

Example Output:

|unique_queries	|employee_count|
|:---|:---|
|0	|191|
|1	|46|
|2	|12|
|3	|1|

In [1]:
query = """
with emp_query_count as(
select
  e.employee_id,
  COUNT(distinct q.query_id) as count_queries
from employees e
left join queries q
  on e.employee_id = q.employee_id
  and (extract(year from query_starttime) = 2023
  and extract( month from query_starttime) in (7,8, 9) )
group by e.employee_id
)

select
  count_queries as unique_queries,
  count(employee_id) as employee_count
from emp_query_count
group by count_queries
order by count_queries asc
"""