<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Laptop_vs_Mobile_Viewership.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assume you're given the table on user viewership categorised by device type where the three types are laptop, tablet, and phone.

Write a query that calculates the total viewership for laptops and mobile devices where mobile is defined as the sum of tablet and phone viewership. Output the total viewership for laptops as laptop_reviews and the total viewership for mobile devices as mobile_views.



`viewership` Table

|Column Name|	Type|
|:---|:---|
|user_id|	integer|
|device_type|	string ('laptop', 'tablet', 'phone')|
|view_time|	timestamp|

Example Output

|laptop_views|	mobile_views|
|:---|:---|
|2	|3|

In [1]:
query = """
SELECT
  COUNT(CASE
          WHEN device_type = 'laptop' THEN 1
          ELSE NULL
        END) AS laptop_views,
  COUNT(CASE
          WHEN device_type IN ('tablet', 'phone') THEN 1
          ELSE NULL
        END) AS mobile_views
FROM viewership

"""