<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Subject_Matter_Experts.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

You are tasked with identifying Subject Matter Experts (SMEs) at Accenture based on their work experience in specific domains. An employee qualifies as an SME if they meet either of the following criteria:

1. They have 8 or more years of work experience in a single domain.
2. They have 12 or more years of work experience across two different domains.

Write a query to return the employee IDs of all the subject matter experts at Accenture.

Assumption:

- An employee can only be considered an SME if they meet the experience requirements in either one or two domains. Cases where an employee has experience in more than two domains can be disregarded.


`employee_expertise` Table:

|Column Name	|Type|
|:---|:---|
|employee_id	|integer|
|domain|	string|
|years_of_experience	|integer|

Example Output:

|employee_id|
|:---|
|101|
|102|

In [ ]:
query = """
with employee_summary as (
select
  employee_id,
  count(domain) as num_domains,
  sum(years_of_experience) as experience
from employee_expertise
group by employee_id
)
select employee_id
from employee_summary
where (num_domains = 1 and experience >=8) or (num_domains = 2 and experience >=12)
"""