<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Easy/Well_Paid_Employees.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Companies often perform salary analyses to ensure fair compensation practices. One useful analysis is to check if there are any employees earning more than their direct managers.

As a HR Analyst, you're asked to identify all employees who earn more than their direct managers. The result should include the employee's ID and name.

`employee` Schema:

|column_name	|type	|description|
|:---|:---|:---|
|employee_id|integer	|The unique ID of the employee.|
|name	|string	|The name of the employee.|
|salary|	integer|	The salary of the employee.|
|department_id|	integer|	The department ID of the employee.|
|manager_id|	integer|	The manager ID of the employee.|

Example Output:

|employee_id	|employee_name|
|:---|:---|
|3	|Olivia Smith|

In [3]:
self_join_query = """
select
  employee_id,
  name as employee_name
from
  (select
    a.employee_id,
    a.name,
    a.salary as employee_salary,
    a.manager_id,
    b.salary as manager_salary
  from employee a, employee b
  where a.manager_id =b.employee_id) as employee_manager
where employee_salary > manager_salary
LIMIT 5;
"""

In [4]:
inner_join_query = """
select emp.employee_id, emp.name as employee_name
from employee as emp
inner join employee as mgmt
on emp.manager_id = mgmt.employee_id
where emp.salary > mgmt.salary
"""