<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Medium/Histogram_of_Users_and_Purchases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assume you're given a table on Walmart user transactions. Based on their most recent transaction date, write a query that retrieve the users along with the number of products they bought.

Output the user's most recent transaction date, user ID, and the number of products, sorted in chronological order by the transaction date.

`user_transactions` Table:

|Column Name|	Type|
|:---|:---|
|product_id|	integer|
|user_id	|integer|
|spend	|decimal|
|transaction_date	|timestamp|

Example Output:

|transaction_date|	user_id	|purchase_count|
|:---|:---|:---|
|07/08/2022 12:00:00	|115	|1|
|07/08/2022 12:00:000	|123|	2|
|07/10/2022 12:00:00	|159	|1|

In [ ]:
query = """
select
  transaction_date,
  user_id,
  count(product_id) as purchase_count
from
  (select *,
    dense_rank() over(partition by user_id order by transaction_date desc) rnk
  from user_transactions) ranked
where rnk = 1
group by transaction_date, user_id
order by transaction_date
"""