<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Medium/Second_Highest_Salary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Imagine you're an HR analyst at a tech company tasked with analyzing employee salaries. Your manager is keen on understanding the pay distribution and asks you to determine the second highest salary among all employees.

It's possible that multiple employees may share the same second highest salary. In case of duplicate, display the salary only once.

`employee` Schema:

|column_name|	type|	description|
|:---|:---|:---|
|employee_id	|integer	|The unique ID of the employee.|
|name	|string|The name of the employee.|
|salary|	integer|	The salary of the employee.|
|department_id|	integer	|The department ID of the employee.|
|manager_id	|integer	|The manager ID of the employee.|

Example Output:

|second_highest_salary|
|:---|
|2230|

In [ ]:
query = """
select salary as second_highest_salary
from employee
order by salary desc
limit 1 offset 1
"""

In [1]:
query_2 = """
select distinct salary as second_highest_salary
from
  (select
    salary,
    dense_rank()over(order by salary desc) as salary_rank
  from employee) as ranked_salary
where salary_rank = 2
"""