<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Medium/Top_3_Salaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

As part of an ongoing analysis of salary distribution within the company, your manager has requested a report identifying high earners in each department. A 'high earner' within a department is defined as an employee with a salary ranking among the top three salaries within that department.

You're tasked with identifying these high earners across all departments. Write a query to display the employee's name along with their department name and salary. In case of duplicates, sort the results of department name in ascending order, then by salary in descending order. If multiple employees have the same salary, then order them alphabetically.

Note: Ensure to utilize the appropriate ranking window function to handle duplicate salaries effectively.

`employee` Schema:

|column_name|	type	|description|
|:---|:---|:---|
|employee_id	|integer	|The unique ID of the employee.|
|name	|string	|The name of the employee.|
|salary	|integer	|The salary of the employee.
|department_id	|integer|	The department ID of the employee.|
|manager_id	|integer|	The manager ID of the employee.|

`department` Schema:

|column_name	|type	|description|
|:---|:---|:---|
|department_id	|integer	|The department ID of the employee.|
|department_name	|string	|The name of the department.|

Example Output:

|department_name|	name	|salary|
|:---|:---|:---|
|Data Analytics	|James Anderson	|4000|
|Data Analytics|	Emma Thompson	|3800|
|Data Analytics|	Daniel Rodriguez|	2230|
|Data Science|	Noah Johnson|	6800|
|Data Science|	William Davis	|6800|

In [1]:
query = """
with salary_rank as (
select
  employee_id,
  name,
  salary,
  department_name,
  dense_rank() over(partition by e.department_id order by salary desc) as rank
from employee e
right join department d
  on e.department_id = d.department_id
)

select
  department_name,
  name,
  salary
from salary_rank
where rank <=3
order by
  department_name asc,
  rank asc,
  name asc
"""