<a href="https://colab.research.google.com/github/Mercy-Njambi/Data-Lemur-Interview-Questions/blob/main/SQL/Medium/Top_5_Artists.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Assume there are three Spotify tables: artists, songs, and global_song_rank, which contain information about the artists, songs, and music charts, respectively.

Write a query to find the top 5 artists whose songs appear most frequently in the Top 10 of the global_song_rank table. Display the top 5 artist names in ascending order, along with their song appearance ranking.

If two or more artists have the same number of song appearances, they should be assigned the same ranking, and the rank numbers should be continuous (i.e. 1, 2, 2, 3, 4, 5).

`artists` Table:

|Column Name|Type|
|:---|:---|
|artist_id	|integer|
|artist_name	|varchar|
|label_owner	|varchar|

`songs` Table:

|Column Name	|Type|
|:---|:---|
|song_id	|integer|
|artist_id|integer|
|ame	|varchar|

`global_song_rank` Table:

|Column Name|	Type|
|:---|:---|
|day	|integer (1-52)|
|song_id|nteger|
|rank	|integer (1-1,000,000)|

Example Output:

|artist_name|artist_rank|
|
|Ed Sheeran|	1|
|Drake	|2|

In [ ]:
query = """
WITH top_10_cte AS (
  SELECT
    artists.artist_name,
    DENSE_RANK() OVER (
      ORDER BY COUNT(songs.song_id) DESC) AS artist_rank
  FROM artists
  INNER JOIN songs
    ON artists.artist_id = songs.artist_id
  INNER JOIN global_song_rank AS ranking
    ON songs.song_id = ranking.song_id
  WHERE ranking.rank <= 10
  GROUP BY artists.artist_name
)

SELECT artist_name, artist_rank
FROM top_10_cte
WHERE artist_rank <= 5;
"""